{% extends 'front/base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('resetPassword') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('resetPassword') }}
{% endblock %}

{% block body %}
    <div class="container col-lg-7 custom_breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item"><a href="{{ path('front_index') }}">{{ 'Home'|trans  }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('front_profile') }}">{{ 'Personnal Account'|trans  }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'Change Password'|trans  }}</li>
            </ol>
        </nav>
    </div>
    <div class="reset-password-section header-section d-lg-block d-flex flex-column justify-content-between align-items-start container col-lg-7">
        <h1 class="big-title">{{ 'Change Password'|trans  }}</h1>
        <h2 class="mt-4">{{app.user.fullName}}
            <a href="{{ path('front_logout') }}"><img src="{{ asset('build/front/logout-icon.png') }}"
                                                      alt="logout icon"></a></h2>
        <h3>{{app.user.email}}</h3>
        <div class="d-flex flex-column mt-4 col-lg-7">
            {{form(form)}}
            <div class="text-right mt-4">
                <button class="btn savePasswordBtn">{{ 'Save'|trans  }}</button>
            </div>
        </div>
    </div>

{% endblock %}

