<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/dashboard/favicon.png') }}" />
    <title>{% block title %}Alwarda Dashboard{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_link_tags('sidebar') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div id="loading-spinner" class="position-fixed" style="display:none !important;">
    <div class="spinner-border text-primary position-absolute"
         role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="container-scroller">
    {% include 'navbar.html.twig' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'sidebar.html.twig' %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="h-100">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('navbar') }}
{{ encore_entry_script_tags('sidebar') }}
{% block javascripts %}{% endblock %}
</body>
</html>
