{% extends 'base.html.twig' %}

{% block title %}List drivers{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="page-header">
        <h3 class="page-title">
            Drivers
        </h3>
        <a href="{{ path('user_new', {role: 'driver'}) }}">
            <i class="mdi mdi-account-plus text-primary icon-md"></i>
        </a>
    </div>

    <div class="card" style="min-height: 100%">
        <div class="card-body">
            <div class="table-responsive">
                <table class="data-table table table-hover">
                    <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Phone</th>
                        <th>Last visit</th>
                        <th>Orders</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.phone }}</td>
                            {% if user.lastVisit is not null %}
                                <td>{{ user.lastVisit|date('d/m/Y H:i') }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ user.driverOrders|length }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">
                                    <i class="mdi mdi-eye text-primary" style="font-size: 1.3rem"></i>
                                </a>
                                <a href="{{ path('user_delete', {'id': user.id}) }}">
                                    <i class="mdi mdi-delete text-danger" style="font-size: 1.3rem"></i>
                                </a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}">
                                    <i class="mdi mdi-grease-pencil text-success" style="font-size: 1.3rem"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
